{erl_opts, [debug_info]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [{config, "./config/dev_sys.config"}, {apps, [pet_store]}]}.

{deps, [
    nova,
    {kura, "~> 1.3"},
    {arizona_core, {git, "https://github.com/Taure/arizona_core.git", {branch, "main"}}},
    bcrypt
]}.

{overrides, [
    {override, markdown, [{deps, []}]}
]}.

{ct_opts, [{config, "./config/test_sys.config"}, {sys_config, "./config/test_sys.config"}]}.

{project_plugins, [
    erlfmt,
    rebar3_kura
]}.

{erlfmt, [write]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]},
    {plt_extra_apps, [nova, kura, arizona_core, bcrypt]}
]}.

{provider_hooks, [
    {pre, [{compile, {kura, compile}}]}
]}.
