{erl_opts, [debug_info]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [{config, "./config/dev_sys.config"}, {apps, [pet_store]}]}.

{deps, [
    nova,
    {kura, {git, "https://github.com/Taure/kura.git", {branch, "main"}}}
]}.

{ct_opts, [{config, "./config/test_sys.config"}, {sys_config, "./config/test_sys.config"}]}.

{project_plugins, [
    {rebar3_nova, {git, "https://github.com/novaframework/rebar3_nova.git", {branch, "master"}}},
    {rebar3_kura, {git, "https://github.com/Taure/rebar3_kura.git", {branch, "main"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {kura, compile}}]}
]}.
