{erl_opts, [debug_info]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [{config, "./config/dev_sys.config"}, {apps, [pet_store]}]}.

{deps, [
    nova,
    {kura, {git, "https://github.com/Taure/kura.git", {tag, "v1.3.1"}}},
    bcrypt
]}.

{ct_opts, [{config, "./config/test_sys.config"}, {sys_config, "./config/test_sys.config"}]}.

{project_plugins, [
    erlfmt,
    {rebar3_kura, "0.13.1"}
]}.

{erlfmt, [write]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]},
    {plt_extra_apps, [nova, kura, arizona_core, bcrypt, cowboy, thoas]}
]}.

{provider_hooks, [
    {pre, [{compile, {kura, compile}}]}
]}.
