[
 {nova, [
         {environment, dev},
         {cowboy_configuration, #{
                                  port => 8080
                                 }},
         {bootstrap_application, pet_store}
        ]},
 {kura, [
          {migration_paths, [<<"_build/default/lib/pet_store/migrations">>]}
         ]}
].
